<h2>Create new collection</h2>

<%= form_for @collection do |f| %>

  <%=render partial: "form", locals: {f: f}%>

  <%= f.radio_button :kind, 'links' %>
  <%= f.label :kind_links, 'Links' %>
  <%= f.radio_button :kind, 'images' %>
  <%= f.label :kind_images, 'Images' %>

  <p><%= f.submit %></p>
<% end %>
