<h2><%= @collection.name %></h2>
<p><%= @collection.id %></p>
<p><%= @collection.user_id %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Img</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @imgs.each do |i| %>
  <tr>
    <td><%= link_to i.name, collection_img_path(@collection.id, i.id) %></td>
    <td><%= image_tag i.picture.url(:medium)%></td>
    <td><%= link_to 'Edit', edit_collection_img_path(@collection.id, i.id)%></td>
    <td><%= link_to 'Destroy', collection_img_path(@collection.id, i), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to "Add new image", new_collection_img_path(@collection.id) %></p>
